/* Blog Hero */
.blog-hero {
  width: 1050px;
  margin: 25px auto;
  grid-area: hero;
  display: grid;
  grid-template-rows: 80px auto;
  gap: 20px;
}

.blog-hero img {
  width: 670px;
  grid-row: span 2;
}

.blog-hero h2 {
  grid-column: 2;
  font-family: 'Archivo';
  font-weight: 700;
  font-size: 18px;
  color: white;
}

.blog-hero p {
  width: 300px;
  grid-column: 2;
  font-family: 'Archivo';
  font-size: 14px;
  line-height: 20px;
  color: white;
}

.blog-noticias-hero {
  width: 1050px;
  margin: 25px auto;
  color: white;
  grid-area: hero2;
}

.slider-wrapper {
  margin-top: -40px;
}

.slider-wrapper img:nth-child(1) {
  width: 290px;
}

/* Content */
main {
  background-color: #F1F3F8;
  grid-area: content;
  margin: 25px auto;
  width: 100%;
  height: 100%;
}

.blog-wrapper {
  width: 1050px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  grid-template-areas: 
  "post-wrapper sidebar"
  ;
}

.post-wrapper {
  grid-area: post-wrapper;
}

.post {
  grid-area: sidebar;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  grid-template-rows: 10px 40px 130px 10px;
  margin-bottom: 50px;
}

.post img {
  grid-row: span 3;
}

.post label {
  grid-column: 2;
  font-family: 'Archivo';
  font-weight: 700;
  font-size: 12px;
  color: #EE3A19;
}

.post h3 {
  grid-column: 2;
  font-family: 'Archivo';
  font-weight: 700;
  font-size: 24px;
  color:#1E1D18;
}

.post p {
  grid-column: 2;
  font-family: 'Archivo';
  font-size: 16px;
  line-height: 22px;
}

.post a {
  grid-column: 2;
  font-family: 'Archivo';
  font-size: 18px;
  font-weight: 700;
  text-decoration: underline;
  color:#1E1D18;
}

/* Newsletter */
.newsletter {
  background-color: #1E1D18;
  grid-area: news;
  margin: 25px auto;
  padding: 45px 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.newsletter h2 {
  color: #F1F3F8;
  font-size: 48px;
  font-family: 'Cardo';
}

.newsletter h3 {
  color: #F1F3F8;
  font-size: 18px;
  margin-bottom: 30px;
}

.newsletter input {
  display: block;
  margin: 0 auto;
  font-family: 'Archivo';
  width: 350px;
  height: 40px;
  border-radius: 5px;
}

.newsletter input + input {
  margin-top: 15px;
}

.newsletter input:nth-child(5) {
  width: 130px;
  height: 40px;
  background: #4E5D73;
  color: #F1F3F8;
  font-weight: 700;
  letter-spacing: 1.2px;
  transition: 0.8s;
}

.newsletter input:nth-child(5):hover {
  width: 150px;
}

/* Sidebar */

.sidebar-component {
  background-color: #DADDE6;
  padding: 5px 20px 25px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.sidebar-component img {
  width: 20px;
}

.sidebar-component input {
  margin-left: 10px;
  background: transparent;
  font-size: 14px;
  font-family: 'Archivo';
  border: transparent;
}

.sidebar-component p {
  font-family: 'Archivo';
}

.sidebar-item {
  display: flex;
  align-content: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.sidebar-item label {
  font-family: 'Archivo';
  margin-left: 10px;
}


/* Footer */
.footer_grid {
  grid-template-columns: 0.28fr 0.3fr 0.3fr;
  grid-template-areas: 
  "column1 column3 column4"
  ;
}