/* Geral */
.estrutura {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 1fr;
  grid-template-areas: 
  "header header header"
  "hero hero hero"
  "content content content"
  "footer footer footer"
  ;
}

body {
  background: #090808;
  background-image: url("../src/imgs/mugeo_hero.png");
}

/* Header */
.header {
  grid-area: header;
  background: rgba(0, 0, 0, .5);
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  z-index: 1;
}

.logo {
  max-width: 150px;
  margin-left: 231px;
}

.logo_a {
  display: flex;
  max-width: 20px;
  align-items: center;
}

.header nav ul {
  display: flex;
  flex-wrap: wrap;
  padding-right: 231px;
}

.header nav a {
  display: block;
  padding: 10px;
  color: white;
  font-size: 18px;
  font-family: 'Cardo', serif;
  transition: .1s;
}

.header nav a:hover {
  text-decoration: underline;
}

.header li + li {
  margin-left: 20px;
}

/* Hero */

.hero{
  grid-area: hero;
  background-size: 1920px;
  background-repeat: no-repeat;
  font-family: 'Cardo', serif;
  width: 100%;
  height: 700px;
  color: #F1F3F8;
}

h1 {
  font-size: 93px;
}

.hero p {
  display: inline;
}

.hero a {
  color: #F1F3F8;
  text-decoration: underline;
}

.linha {
  width: 92px;
  padding-bottom: 4px;
}

.linha_small{
  width: 50px;
}

.linha_regular {
  width: 335px;
  padding-bottom: 2px;
  padding-left: 5px;
}

.title {
  position: absolute;
  top: 180px;
  left: 250px;
}

/* Slider do Hero */

.slider-wrapper {
  display: flex;
  position: absolute;
  width: 840px;
  top: 500px;
  left: 250px;
}

.slider-wrapper img:nth-child(1) {
  margin-left: -8.5px;
  width: 250px;
}

.slider-wrapper p {
  font-family: 'Archivo';
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 1px;
}

.slider-wrapper h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 0px;
  margin-top: 15px;
  margin-bottom: 11px;
}

.slider-wrapper div + div {
  margin-left: 30px;
}

/* Conteúdo */

.main {
  background-color: #F1F3F8;
  grid-area: content;
  padding-left: 250px;
}

.main h3 {
  margin-top: 70px; 
  font-size: 28px;
  font-weight: 700;
  font-family: 'Archivo';
}

.main .linha_preta {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 8px; 
  width: 80%;
  height: 2px;
  padding-bottom: 48px;
}

/* Notícias relevantes */

.main article {
  width: 1000px;
  display: grid;
  grid-template-rows: 40px 20px 96px;
  grid-template-areas: 
  "foto article-title"
  "foto article-label"
  "foto article-content"
  "foto article-button"
  "blog blog"
  ;
  column-gap: 10px;
}

.main article:not(:nth-child(3)) {
  margin-top: 35px;

}

.main article img {
  margin-left: -8.5px;
  grid-area: foto;
  box-shadow: 0px 3px 6 rgba(0, 0, 0, 0.4);
}

.main article h4 {
  padding-top: 10px;
  font-size: 18px;
  font-family: 'Archivo';
  line-height: 20px;
  grid-area: article-title;
}

.main article label {
  font-size: 14px;
  font-family: 'Archivo';
  grid-area: article-label;
  margin: 0px;
  color: rgba(0, 0, 0, 0.7);
}

.main .article-content {
  grid-area: article-content;
  font-size: 16px;
  font-family: 'Archivo';
}

.main article .article-button {
  display: flex;
  background-color: #1E1D18;
  border-radius: 1px;
  width: 160px;
  height: 50px;
  cursor: pointer;
  transition: 0.5s;
}

.main article .article-button:hover {
  text-decoration: underline;
  text-decoration-color: #F1F3F8;
  width: 165px;
}

.main article .article-button p {
  margin: 0 auto;
  align-self: center;
  font-size: 14px;
  font-family: 'Archivo';
  font-weight: 700;
  color: #F1F3F8;
}

#line_with_opacity {
  width: 1000px;
}

.blog-button {
  grid-area: blog;
  display: flex;
  margin: 0 27.5vw;
  width: 200px;
  height: 45px;
  background: transparent;
  border: 2px solid #1E1D18;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 20px;
}

.blog-button:hover {
  box-shadow: 0 6px 6px black;
}

.blog-button p {
  align-self: center;
  margin: 0 auto;
  font-family: 'Archivo';
  font-size: 14px;
  letter-spacing: 1.5px;
}