/* Geral */
.estrutura {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 1fr;
  grid-template-areas: 
  "header header header"
  "hero hero hero"
  "content content content"
  "footer footer footer"
  ;
}

body {
  background: #090808;
  background-image: url("../src/imgs/mugeo_hero.png");
}

/* Header */
.header {
  grid-area: header;
  background: rgba(0, 0, 0, .5);
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  z-index: 1;
}

.logo {
  max-width: 150px;
  margin-left: 231px;
}

.logo_a {
  display: flex;
  max-width: 20px;
  align-items: center;
}

.header nav ul {
  display: flex;
  flex-wrap: wrap;
  padding-right: 231px;
}

.header nav a {
  display: block;
  padding: 10px;
  color: white;
  font-size: 18px;
  font-family: 'Cardo', serif;
  transition: .1s;
}

.header nav a:hover {
  text-decoration: underline;
}

.header li + li {
  margin-left: 20px;
}

/* Hero */

.hero{
  grid-area: hero;
  background-size: 1920px;
  background-repeat: no-repeat;
  font-family: 'Cardo', serif;
  width: 100%;
  height: 700px;
  color: #F1F3F8;
}

h1 {
  font-size: 93px;
}

.hero p {
  display: inline;
}

.hero a {
  color: #F1F3F8;
  text-decoration: underline;
}

.linha {
  width: 92px;
  padding-bottom: 4px;
}

.linha_small{
  width: 50px;
}

.linha_regular {
  width: 335px;
  padding-bottom: 2px;
  padding-left: 5px;
}

.title {
  position: absolute;
  top: 180px;
  left: 250px;
}

/* Slider do Hero */

.slider-wrapper {
  display: flex;
  position: absolute;
  width: 840px;
  top: 500px;
  left: 250px;
}

.slider-wrapper img:nth-child(1) {
  margin-left: -8.5px;
  width: 250px;
}

.slider-wrapper p {
  font-family: 'Archivo';
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 1px;
}

.slider-wrapper h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 0px;
  margin-top: 15px;
  margin-bottom: 11px;
}

.slider-wrapper div + div {
  margin-left: 30px;
}

/* Conteúdo */

.content {
  background-color: #F1F3F8;
  grid-area: content;
}